name: Build and Push Docker Image to GitHub Container Registry

on:
  workflow_dispatch: # Creates button in web UI to run the workflow manually, shouldn't be needed
  push:
  pull_request:
    types:
      - opened
      - reopened
      - edited

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/sourcegraph/implementation-bridge-repo-converter
          tags: |
            type=ref,event=tag,priority=2000
            type=ref,event=pr,priority=1900
            type=ref,event=branch,priority=1800
            type=raw,value=insiders
            type=raw,value=insiders-{{date 'YYYY-MM-DD-HH-mm-ss'}}
            type=sha

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: repo-converter/build
          platforms: linux/amd64,linux/arm64
          file: bridge-repo-converter/build/Dockerfile
          push: true
          sbom: true
          tags: |
            ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
